body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-rows: 80px 60px 1fr;
    box-sizing: border-box;

    background-color: #457b9d;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9)
}

form {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
}
form button {
    font-size: large;
    border-radius: 10px;
    border: none;
    color: #457b9d;
    padding: 0px 50px;
    background-color: #f1faee;
    margin-top: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

form button:hover {
    background-color: rgba(0, 0, 0, 0.377);
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.game-board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    border: white 2px solid;
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: var(--mark-size);
    text-align: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}

.cell:nth-child(3n+3){
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
    border-bottom: none;
}

h1 {
    color: white;
    background-color: #f1faeea6;
    font-weight: bolder;
    margin: 0;
    padding: 20px 0 0 20px;
}
